@model Project124125125.Models.User
@{
    ViewBag.Title = "Home Page";
}
@if (Session["user"] != null)
{
    if (Model.Role.Equals(Project124125125.Models.Roles.Analyst))
    {
        <div class="jumbotron">
            <p class="lead">Press the button to create a document</p>
            <p><a href="/Documents/Create" class="btn btn-primary btn-lg">Create Document &raquo;</a></p>
            <p><a href="/Documents/Index" class="btn btn-primary btn-lg">Check @Model.Role Documents &raquo;</a></p>
        </div>
    }
    else if (Model.Role.Equals(Project124125125.Models.Roles.Manager))
    {
        <div class="jumbotron">
            <p class="lead">Press the button to create a document</p>
            <p><a href="/Documents/Create" class="btn btn-primary btn-lg">Create Document &raquo;</a></p>
            <p><a href="/Documents/Index" class="btn btn-primary btn-lg">Check @Model.Role Documents &raquo;</a></p>
            <p><a href="/Users/Index" class="btn btn-primary btn-lg">Check for pending Users! &raquo;</a></p>
        </div>
        
    }
    else
    {
        <br /><br />
        <p><a href="/Documents/Index" class="btn btn-primary btn-lg">Check @Model.Role Documents &raquo;</a></p>
        <p>U can't create a document!</p>
    }
}
else
{
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="col-md-12">
        <h1 class="ml-lg-5"> Welcome to Project 4!</h1>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
}


